{
  "bbdown_path": "",
  "ffmpeg_path": "",
  "mp4box_path": "",
  "aria2c_path": "",
  "work_dir": "",
  "last_save_dir": "",
  "cookie": "",
  "access_token": "",
  "user_agent": "",
  "upos_host": "",7
  "language": "",
  "delay_per_page": "0",
  "aria2c_args": "-x16 -s16 -j16 -k 5M",
  "file_pattern": "<videoTitle>",
  "multi_file_pattern": "<videoTitle>/[P<pageNumberWithZero>]<pageTitle>",
  "config_file": "",
  "window_x": 144,
  "window_y": 26,
  "window_w": 1100,
  "window_h": 800,
  "host": "",
  "ep_host": "",
  "area": ""
}